.event_track {
    border-right: 1px solid black;
    float: right; /*doesn't work :(*/
    position: relative;
}

.time_column {
    float: left; /*doesn't work :(*/
    width: 5%;
    position: relative; /*doesn't work :(*/
}

.time_indicator {
    position: absolute; /*doesn't work :(*/
    margin-top: 1em;
}

.overview_event {
    position: absolute;
    width: 100%;
    border-bottom: 1px solid black; /*doesn't work :(*/
    cursor: pointer; /*doesn't work :(*/
}