.event_track {
    border-right: 1px solid black;
    float: right; /*doesn't work :(*/
    position: relative;
    font-size: 0.1vh; /*doesn't work :(*/
}

.event_button {
    position: absolute; /*doesn't work :(*/
    width: 100%;
    border-bottom: 1px solid black; /*doesn't work :(*/
}

.time_column {
    float: left; /*doesn't work :(*/
    width: 5%;
    position: relative; /*doesn't work :(*/
}

.time_indicator {
    position: absolute; /*doesn't work :(*/
    margin-top: 1em;
}

.day_selector {
    margin: auto;
    height: auto;
}

/*Tooltip stuff below*/
/*
.sami_tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.sami_tooltip .sami_tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.sami_tooltip .sami_tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.sami_tooltip:hover .sami_tooltiptext {
  visibility: visible;
  opacity: 1;
}
*/
/*Tooltip stuff above*/