@page
@model SAMI_SIKON.Pages.Events.MapModel
@{
}


<title>Map of SIKON</title>


<table class="table" style="font-size:xx-large">
    <thead>
    <tr>
        SIKON Map
    </tr>
    </thead>
    <tbody>
    <tr>

    <td><img src="~/pictures/sikonmap.PNG" width="1080" height="720"></td>
    </tbody>
</table>