@page
@using SAMI_SIKON.Model;
@model IndexModel
@{
    ViewData["Title"] = "Overview";
}

<div>

    <div id="time_column">

    </div>
    @for (int i = 0; i < Model.NrOfTracks; i++) {
        <div class="event_track" style="width:@Model.TrackWidth();">

            @foreach (Event evt in Model.Tracks[i]) {

                <div style="background-color:@Model.ThemeToColor(evt);">
                    <p>@evt.Theme</p>
                </div>

            }

        </div>
    }


</div>
