@page
@using SAMI_SIKON.Model;
@model IndexModel
@{
    ViewData["Title"] = "Overview";
}

<div class="overview">

    <div id="time_column">

    </div>
    @for (int i = 0; i < Model.NrOfTracks; i++) {
        <div class="event_track" style="width:@Model.TrackWidth();">

            @foreach (Event evt in Model.Tracks[i]) {

            <div class="overview_event" style="background-color:@Model.ThemeToColor(evt);top:@Model.GetOffset(evt);height:@Model.GetDuration(evt);">
                <p>Theme: @evt.Theme</p>
                <p>StartTime: @evt.StartTime.TimeOfDay</p>
                <p>StopTime: @evt.StopTime.TimeOfDay</p>
            </div>

            }

        </div>
    }


</div>
